openapi: 3.0.3
info:
  title: Samsung SmartThings Apps Installed Apps API
  description: 'The SmartThings API is the RESTful core of the SmartThings smart-home IoT platform. It is used to control devices, read device status, manage Locations, Rooms, and Modes, build Automations with Rules and Scenes, inspect Capabilities, and build SmartApps (Apps and Installed Apps) that subscribe to events and run Schedules. Requests are authenticated with a Personal Access Token (PAT) for testing or an OAuth 2.0 access token for production integrations, passed as `Authorization: Bearer {token}`. This document is grounded in the official SmartThings Swagger definition (https://swagger.api.smartthings.com/public/st-api.yml); some less-common endpoints (Apps, History, Virtual Devices, individual Subscription operations) are modeled from the public docs and SDK where a full path was not directly confirmed.'
  version: '1.0'
  contact:
    name: SmartThings Developers
    url: https://developer.smartthings.com
servers:
- url: https://api.smartthings.com/v1
  description: SmartThings Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Installed Apps
  description: Per-user installations of a SmartApp.
paths:
  /installedapps:
    get:
      operationId: listInstalledApps
      tags:
      - Installed Apps
      summary: List Installed Apps
      parameters:
      - name: locationId
        in: query
        required: false
        schema:
          type: string
      responses:
        '200':
          description: A list of installed apps.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/InstalledApp'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /installedapps/{installedAppId}:
    parameters:
    - $ref: '#/components/parameters/InstalledAppId'
    get:
      operationId: getInstalledApp
      tags:
      - Installed Apps
      summary: Get an Installed App
      responses:
        '200':
          description: The installed app.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstalledApp'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteInstalledApp
      tags:
      - Installed Apps
      summary: Delete an Installed App
      responses:
        '200':
          description: Deletion confirmation.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /installedapps/{installedAppId}/configs:
    parameters:
    - $ref: '#/components/parameters/InstalledAppId'
    get:
      operationId: listInstalledAppConfigs
      tags:
      - Installed Apps
      summary: List an Installed App's Configurations
      responses:
        '200':
          description: A list of configurations.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /installedapps/{installedAppId}/events:
    parameters:
    - $ref: '#/components/parameters/InstalledAppId'
    post:
      operationId: createInstalledAppEvents
      tags:
      - Installed Apps
      summary: Create Installed App Events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Events accepted.
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  parameters:
    InstalledAppId:
      name: installedAppId
      in: path
      required: true
      description: The identifier of the installed app.
      schema:
        type: string
  schemas:
    Error:
      type: object
      properties:
        requestId:
          type: string
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: array
              items:
                type: object
                additionalProperties: true
    InstalledApp:
      type: object
      properties:
        installedAppId:
          type: string
        appId:
          type: string
        installedAppType:
          type: string
        installedAppStatus:
          type: string
        locationId:
          type: string
  responses:
    Unauthorized:
      description: Missing or invalid access token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'A Personal Access Token (PAT) from https://account.smartthings.com/tokens or an OAuth 2.0 access token, passed as `Authorization: Bearer {token}`.'
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization code flow for production integrations.
      flows:
        authorizationCode:
          authorizationUrl: https://api.smartthings.com/oauth/authorize
          tokenUrl: https://api.smartthings.com/oauth/token
          scopes:
            r:devices:*: Read devices
            x:devices:*: Control devices
            r:locations:*: Read locations
            w:locations:*: Manage locations
            r:scenes:*: Read scenes
            x:scenes:*: Execute scenes
            r:rules:*: Read rules
            w:rules:*: Manage rules
