openapi: 3.2.0
info:
  title: Samsung SmartThings Schedules API
  description: The SmartThings API is the RESTful core of the SmartThings smart-home IoT platform.
  version: '1.0'
  contact:
    name: SmartThings Developers
    url: https://developer.smartthings.com
servers:
- url: https://api.smartthings.com/v1
  description: SmartThings Cloud API
security:
- bearerAuth: []
- oauth2: []
tags:
- name: Schedules
  description: Future/cron executions for Installed Apps.
paths:
  /installedapps/{installedAppId}/schedules:
    parameters:
    - $ref: '#/components/parameters/InstalledAppId'
    get:
      operationId: listSchedules
      tags:
      - Schedules
      summary: List Schedules
      responses:
        '200':
          description: A list of schedules.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Schedule'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /installedapps/{installedAppId}/schedules/{scheduleName}:
    parameters:
    - $ref: '#/components/parameters/InstalledAppId'
    - name: scheduleName
      in: path
      required: true
      schema:
        type: string
    post:
      operationId: createSchedule
      tags:
      - Schedules
      summary: Create a Schedule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Schedule'
      responses:
        '200':
          description: The created schedule.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      operationId: deleteSchedule
      tags:
      - Schedules
      summary: Delete a Schedule
      responses:
        '200':
          description: Deletion confirmation.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid access token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Schedule:
      type: object
      properties:
        scheduledExecutions:
          type: array
          items:
            type: integer
        name:
          type: string
        cron:
          type: object
          properties:
            expression:
              type: string
            timezone:
              type: string
        once:
          type: object
          properties:
            time:
              type: integer
    Error:
      type: object
      properties:
        requestId:
          type: string
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: array
              items:
                type: object
                additionalProperties: true
  parameters:
    InstalledAppId:
      name: installedAppId
      in: path
      required: true
      description: The identifier of the installed app.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'A Personal Access Token (PAT) from https://account.smartthings.com/tokens or an OAuth 2.0 access token, passed as `Authorization: Bearer {token}`.'
    oauth2:
      type: oauth2
      description: OAuth 2.0 authorization code flow for production integrations.
      flows:
        authorizationCode:
          authorizationUrl: https://api.smartthings.com/oauth/authorize
          tokenUrl: https://api.smartthings.com/oauth/token
          scopes:
            r:devices:*: Read devices
            x:devices:*: Control devices
            r:locations:*: Read locations
            w:locations:*: Manage locations
            r:scenes:*: Read scenes
            x:scenes:*: Execute scenes
            r:rules:*: Read rules
            w:rules:*: Manage rules
